<div class="container" style="padding-top: 120px;">
    <h3>Equipo ## - Desarrollo para Entorno Web</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta aspernatur iure itaque inventore explicabo. Sapiente voluptatum necessitatibus voluptatibus ipsum accusantium doloribus, quae voluptas, sunt possimus assumenda adipisci. Quisquam, libero consequuntur.
    </p>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.png">
            <p>
                James Huiza Pereyra
            </p>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.png">
            <p>
                James Huiza Pereyra
            </p>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.png">
            <p>
                James Huiza Pereyra
            </p>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.png">
            <p>
                James Huiza Pereyra
            </p>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/silueta.png">
            <p>
                James Huiza Pereyra
            </p>
        </div>
    </div>
</div>