<div class="container" style="padding-top: 120px;">
    <h3>Acerca de Nosotros</h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam illo similique, omnis quia optio in accusamus error eveniet voluptatem, eius hic nobis! Dolores facere eaque eveniet voluptatum qui temporibus. Quidem?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad culpa qui quaerat laborum ea officia eligendi repudiandae in quisquam inventore quam vitae quia, at dolorum, dolor molestias necessitatibus? Ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At praesentium dolorum commodi magnam. Eveniet unde veritatis aliquam libero ab quod odio sapiente deserunt. Omnis quisquam rerum quod, quibusdam quas aut!
    </p>
</div>